  
{% extends 'base.html' %}

{% block page_title %}Lista de Residentes{% endblock %}
{% block navmenu %}{% endblock %}
{% block content %}
    <h2> Listado de Residentes</h2>
    
    
    <table class="report_table">
        <thead>
            <tr>
                <th>Residentes</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                 <th>&nbsp;</th>
                 <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% if residentes %}
				<tr class="{% cycle odd,even %}">
						<td>Nombre</td><td>Apellido</td><td>Año de Comienzo</td><td>Año Residencia</td><td>Modificar</td><td>Eliminar</td>   </tr>
						<tr>
						{% for residente in residentes %} 
			            <td>{{ residente.nombre }}</td>                        <td>{{ residente.apellido }}</td>
                      <td>{{ residente.residencia }}</td>   
                      <td>{% if residente.tipoR == 1  %} Residente 1° Año {% endif %}
                      {% if residente.tipoR == 2  %} Residente 2° Año {% endif %}
                      {% if residente.tipoR == 3  %} Residente 3° Año {% endif %}
                      {% if residente.tipoR == 4  %} Residente 4° Año {% endif %}
                      {% if residente.tipoR == 5  %} Jefe de Residentes {% endif %}
                      </td>
                          <td>	    <a href="residente_edit/{{ residente.id }}/"><img src="{{ MEDIA_URL }}/static/admin/img/icon_changelink.gif " />  </a>      </td> 
                          <td> <a href="residente_delete/{{ residente.id }}/"><img src="{{ MEDIA_URL }}/static/admin/img/icon_deletelink.gif " />  </a> </td>     
    
                  
            </td>
</tr>
                 
             {% endfor %}
        {% endif %}
		<div class="pagination">
		<span class="step-links">
        {% if residentes.has_previous %}
            <a href="?page={{ residentes.previous_page_number }}">previo</a>
        {% endif %}

        <span class="current">
            Page {{ residentes.number }} of {{ residentes.paginator.num_pages }}.
        </span>

        {% if residentes.has_next %}
            <a href="?page={{ residentes.next_page_number }}">Siguiente</a>
        {% endif %}
    </span>

</div>

   
{% endblock %}
 
<div>

  
 {% block footer %}
 
   <p>
       <b> Atrás:</b> 
      
       <a href="javascript:history.go(-2)"><b>Volver</b> </a>
       <br><br>
    </p>
   
  
  
  {% endblock %}

</div>
